/* Responsive page */

/*
	*media query
*/

.content_title {
  padding: 20px;
}

.content_list {
  display: grid;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

@media screen and (min-width: 455px) {
}
@media screen and (max-width: 499px) {
  .nav {
    z-index: 10;
    background-color: #fff;
    width: 280px;
    position: absolute;
    top: 71px;
    left: 0;
    -webkit-transform: translate(-400px, 0);
    transform: translate(-400px, 0);
    transition: transform 0.5s ease;
  }

  .open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 70px;
    left: 0;
  }

  .nav_item {
    display: list-item;
    background-color: salmon;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 500px) {
  .header_menu {
    display: none;
  }
}
@media screen and (min-width: 650px) {
}
@media screen and (min-width: 700px) {
  .content_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 16px;
    grid-column-gap: 10px;
  }
}
@media screen and (min-width: 900px) {
  .content_list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  main {
    max-width: 1200px;
  }
}
